.venv
venv
__pycache__
*.pyc
*.pyo
.git
.gitignore
.gitattributes
music/
data/
covers/
*.db
*.db-journal
*.db-wal
*.db-shm
screenshots/
README.md
moidify.service
install.sh
uninstall.sh
update.sh
start.sh
/tmp/
